.form {
  display:block;
  text-align: center;
  margin-top: 25%;
}

.form > img {
  height: 110px;
  width: 150px;
  object-fit: cover;
}

.form > h1 {
  color: #FF8552;
}

.form-check {
  padding: 0px;
  justify-content: center;
  display:flex;
}

.selections {
  margin-top: 10%;
}

.time-page-wrapper > h1 {
  color:#FF8552;
  margin-bottom: 20px;
}

.category-time-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-time-item {
  flex: 0 0 30%;
}

.category-time-selector {
  position: absolute;
  transform: scale(0);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}

.category-time-selector + label {
  cursor: pointer;
  background-color: #FAFAFA;
  border-radius: 8px;
  // border: 1px solid #FF8552;
  width: 257px;
  height: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF8552;
  // font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.category-time-selector:checked + label {
  background-color: #FF8552;
  color: #FAFAFA;
  // font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  width: 257px;
  height: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.sport-page-wrapper > h1 {
  color: $blue;
  margin-bottom: 20px;
}

.category-sport-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-sport-item {
  flex: 0 0 30%;
}

.category-sport-selector {
  position: absolute;
  transform: scale(0);
}

.category-sport-selector + label {
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: none;
  color: #454E9E;
  font-size: 16px;
  width: 147px;
  height: 67px;
  // font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.category-sport-selector:checked + label {
  background-color: #454E9E;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 16px;
  width: 147px;
  height: 67px;
  // font-weight: bold;
  transition: 0.3s;
}

.btn-sport {
  width: 330px;
  margin: 25px;

  & input {
    color: white;
  }
}
