// Specific CSS for your home-page
.hidden {
  display: none;
}

.past-events-header {
  color: #AEADAD;
  font-weight: bolder;
  font-size: 18px;
  height: 30px;
  margin-bottom: 10px;
  // text-decoration: underline;
  // text-decoration-color: rgb(253, 155, 114);
}

#greeting-header {
  color: $orange;
  margin: 20px 10px 30px 20px;
  width: 342px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(253, 155, 114);
}

#upcoming-event-card-empty-today {
  color: white;
  padding-left: 10px;
}

.upcoming-event-card {
  font-family: 'Poppins', sans-serif;
  display: flex;
  width: 365px;
  height: 180px;
  // background-color: #FF8552;
  opacity: 0.8;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  overflow-x: scroll;
}

.upcoming-events-cards {
  width: 300px;
  height: 160px;
  margin: 10px;
}

.event-placeholder {
  background-color: $blue;
  // background-color: rgba(253, 155, 114, 0.8);
  // margin: 10px;
  border-radius: 8px;
  width: 300px;
  padding: 10px;
  height: 160px;
  justify-content: space-between;
  align-items: center;
}

.upcoming-event-card-title {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.upcoming-event-card-time {
  margin: 5px;
  color: white;
}

.upcoming-event-card-cross {
   margin-right: 15px;
   color: white;
}

.image-logo {
  margin-top: 20px;
  // margin-left: 10px;
  // margin-bottom: 20px;
  width: 150px;
  // height: 120px;
}
