.logo-sign-up {
  width: 179px;
  height: 147;
  margin-bottom: 20px;
}

.sign-in-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  min-height: 100%;
  // margin-bottom: 20vh;
  // width: auto;
}

.container {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
  align-items: flex-start;
}

.form-control {
  border-radius: 8px;
}

.simple_form {
  margin-bottom: 20px;
}
