.title-event {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  // margin-top: 15%;

  & img {
    margin: 8%;
  }

  & h2 {
    margin-bottom: 12px;
  }
}

.info-bar {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba($color: #fafafa, $alpha: 0.8);
  border-radius: 8px;
  color: $blue;
  align-items: center;
  padding: 20px;

  & img {
    margin: 0px;
  }

  & p {
    margin-bottom: 0px;
  }

  @media (min-width: 768px) {
    padding: 8px 20px;
    font-size: 18px;
  }
}

.description-event {
  // margin-left: 10px;
  margin: 20px 0px;

  p {
    margin: 20px 0px;
  }

  & img {
    margin-left: -18px;
  }

  .description-event-participants {
    margin-left: 18px;
  }
}

@media (min-width: 768px) {
  .description-event {
    // margin-left: 10px;
    margin: 12px 0px;
  }

  .description-event p {
    margin: 10px 0px;
  }
}

.event-wrapper-with-button {
  // margin: auto auto;
  // display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(235, 235, 235, 0.9);
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  justify-content: center;

  @media (min-width: 768px) {
    padding: 12px;
  }
}

.event-details-wrapper {
  width: 100%;
  // padding: 20px;
  align-items: center;
  justify-content: center;
}

.join-btn {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  padding: 8px 0px;

  @media (min-width: 768px) {
    margin-bottom: 15px;
    padding: 4px 0px;
  }
}

.show-page-image {
  // background-image: url('../');
  height: 100vh;
  width: 100%;
  background-position: center;
  // overflow: hidden;
  // overflow-y: scroll;

  @media (min-width: 768px) {
    height: 100%;
  }
}

.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

#map {
  width: 100% !important;
  height: 300px !important;
  border-radius: 8px;
  object-fit: cover;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .avatar-square {
    height: 162px;
  }

  .profile-page-card {
    width: 50%;
  }

  .join-btn {
    padding: 7px 112px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 896px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .join-btn {
    padding: 3px 72px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

@media (min-width: 768px) {
}
