.btn-purple {
  background-color: #454E9E;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 14px;
  width: 257px;
  height: 33px;
  font-weight: bold;
}

.btn-orange {
  background-color: #FF8552;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 16px;
  width: 257px;
  height: 33px;
  // font-weight: bold;
}

.btn-purple-filled {
  background-color: #454E9E;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 14px;
  width: 147px;
  height: 67px;
  font-weight: bold;
}

.btn-purple-unfilled {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: none;
  color: #454E9E;
  font-size: 14px;
  width: 147px;
  height: 67px;
  font-weight: bold;
}

.btn-purple-small {
  background-color: #454E9E;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 14px;
  width: 95px;
  height: 25px;
  font-weight: bold;
}

.btn-white-small {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: 1px solid #454E9E;
  color: #454E9E;
  font-size: 14px;
  width: 95px;
  height: 25px;
  cursor: pointer;
  font-weight: bold;
}

.btn-purple-long-unfilled {
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: none;
  color: $blue;
  font-size: 14px;
  width: 330px;
  margin: 0px 25px;
  height: 33px;
  font-weight: bold;
  border-color: #454E9E;
  border-style: solid;
  border: 1px solid $blue;
}
