.card-timeofday {
  background-color: #FF8552;
  border-radius: 8px;
  width: 257px;
  height: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card design for event index page */

/* insert elements into the following html skeleton */

// <div class="card-event">
//     <div class="card-event-avatar"></div>
//     <div class="card-event-textcontent">
//       <div class="card-event-title">Title</div>
//       <div class="card-event-useramount">6/10 Potatoes Joining</div>
//       <div class="card-event-dateandtime">4/9/22 | 6:30 am</div>
//     </div>
//     <div class="card-event-locationandtimeofday">
//       <div class="card-event-timeofday-icon"></div>
//       <div class="card-event-location">📍 Batu Bolong</div>
//     </div>
// </div>

.card-event {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  border-radius: 8px;
  width: 342px;
  height: 91px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-event-avatar {
  width: 55px;
  height: 55px;
  background-color: gray;
  border-radius: 50%;
  padding: 5px;
}

.card-event-title {
  font-size: 18px;
}

.card-event-useramount {
  font-size: 14px;
}

.card-event-dateandtime {
  font-size: 14px
}

.card-event-locationandtimeofday {
  display: flex;
  flex-direction: column;
}

.card-event-timeofday-icon {
  background-color: orange;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left: 75px;
  margin-bottom: 30px;
}

.card-event-location {
  font-size: 14px;
}
