/* Style the navbar */
.navbar-lewagon {
  background: white;
  z-index: 10000;
  width: 100%;
  position: fixed;
  bottom: 0;
  // height: 6vh;

  & a:hover {
    color: grey;
  }
}

/* Navbar links */
.navbar-lewagon a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.icon-black {
  color: black !important;
}
// .icon-background-black {
//   background: black !important;
// }

/* Page content */
.content {
  justify-content: space-between;
  display: flex;
  color: #fafafa;
  font-size: 28px;
  margin-left: 15px;
  margin-right: 15px;

  &a:active {
    color: black;
  }
}

.nav-plus {
  border-radius: 50%;
  background: $blue;
  width: 48px;
  height: 48px;
  margin-top: -1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: white;
}

.nav-plus i {
  color: white;
}

.icon {
  color: #807d7d;
}

.page-container {
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
