/* Style the navbar */
.navbar-lewagon {

  background: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 60px;

  & a:hover {
    color: grey;
  }
}

/* Navbar links */
.navbar-lewagon a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

/* Page content */
.content {
  justify-content: space-between;
  display: flex;
  color: #fafafa;
  font-size: 28px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-plus {
  border-radius: 50%;
  background: #555454;
  height: 50px;
  width: 50px;
  margin-top: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-plus i {
  color: white;
  padding-top: 23px;
}

.icon {
  color:#555454;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
