/* Style the navbar */
.navbar-lewagon {

  background: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* Navbar links */
.navbar-lewagon a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

/* Page content */
.content {
  justify-content: space-between;
  display: flex;
  color: #fafafa;
  font-size: 20px;
}

.nav-plus {
  border-radius: 50%;
  background:#dddcdc;
  height: 50px;
  width: 50px;
  margin-top: -8px;
}

.nav-plus i {
  color: white;
}

.icon {
  color:#dddcdc;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
